#circle {
    display: inline-block;
    background: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}